/**
 *  SETTINGS
 */

// global

$enable-grid-classes: true !default; // generate grid classes
$enable-reset-defaults: true !default; // reset default browser values

$primary: #900;
$enable-shadows: true;
$prefix: "mo-";


// colors
$c-green-eagle: #034159;
$c-green-opal: #025951;
$c-green-bluish: #02735E;
$c-green-bright: #038C3E;
$c-malachite: #0CF25D;
$c-silver: #c2c2c2;
$c-honey-dew:#e1ffdf;

// for text
$c-sangina: #970000;

$c-text-brown: #000;
$c-deep-yellow-green: #263c0c;


// colors
$c-white: #fff !default;
$c-black: #000 !default;
$c-success: #4caf50 !default;
$c-info: #5bc0de !default;
$c-warning: #f0ad4e !default;
$c-error: #e74c3c !default;
$c-gray: #969da6 !default;
$c-gray-light: #eceff1 !default;
